{
  "extends": "loopback",
  "rules": {
    "max-len": ["error", 80, 2,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("
        }]
  }
}
